POSTGRES_CONTAINER_NAME=puskesmas-database
POSTGRES_USER=puskesmas
POSTGRES_PASSWORD=change-me
POSTGRES_DB=database_puskesmas
POSTGRES_PORT=5432
DATABASE_URL=postgresql://puskesmas:change-me@localhost:5432/database_puskesmas?schema=public
PORT=9090
JWT_SECRET=change-this-local-secret
